.container {
  max-width: 1400px;
  margin: auto;
  text-align: center;
}

.gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  margin: 1.5em;
}

.gallery img {
  margin: 1em;
  outline: 0.2em solid #332d2a;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 255, 0.3);
  max-width: 15vw;
  transition: all 0.3s;
}

.gallery img:hover {
  cursor: zoom-in;
  box-shadow: 5px 7px 17px 0px rgb(0 0 255 / 15%);
}

@media screen and (max-width: 900px) {
  .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media screen and (max-width: 500px) {
  .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .gallery img {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }
}
